@model IEnumerable<Blog>
@{
    int count = (ViewBag.PageIndex - 1) * 5;
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Status</th>
            <th scope="col">Publisher Name</th>
            <th scope="col">Setting</th>
        </tr>

    </thead>
    <tbody>
        @foreach (Blog blog in Model)
        {
            count++;
            <tr>
                <th scope="row">@count</th>
                <td><img style="width:25%" src="~/assets/img/blog/@blog.Image" alt="Alternate Text" /></td>
                <td style="color:@(blog.IsDeleted ? "red":"green")">@(blog.IsDeleted ? "Deactive":"Active")</td>
                <td>@blog.PublisherName</td>
                <td>
                    <a class="btn btn-primary" asp-action="Detail" asp-controller="Blog" asp-route-id="@blog.Id" asp-route-page="@ViewBag.PageIndex">Detail</a>
                    <a class="btn btn-success" asp-action="Update" asp-controller="Blog" asp-route-id="@blog.Id" asp-route-page="@ViewBag.PageIndex">Update</a>
                    <a id="@(blog.IsDeleted ? "restore":"delete")" class="btn  @(blog.IsDeleted ? "btn-warning":"btn-danger") " asp-route-page="@ViewBag.PageIndex" asp-action="@(blog.IsDeleted ? "Restore":"Delete")" asp-controller="blog" asp-route-id="@blog.Id">@(blog.IsDeleted ? "Restore":"Delete")</a>
                </td>
            </tr>
        }

    </tbody>
</table>



